.header {
    background: #F7F7F7;
    margin-bottom: 4rem;
    color: #363D2C;
    padding: 2rem 0;
}
.header__title {
    color: #363D2C;
    font-weight: bold;
    font-size: 3.5rem;
    margin: 0;
}
.header__subtitle {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 1px;
    color: #49534B;
}
.break {
    color: #C8716E;
}

@media only screen and (max-width: 390px) {
    .header {
        margin-bottom: 2rem;
    }
}